extends layout

block head

  style.
    body {}
  script lang=!{JSON.stringify(lang)}
  script(src='/js/bundle.js')
block content
  .centerCol#app(v-bind:class="{isVisible:loaded}")
    .headerRow(style="background-image:url('/img/bg.png')")
      .headerBox
        .header
          .logoBox
            .logo
              img(src=lang.mainLogo)
            .logo
              img(src="/img/logo2.svg")
            .logo
              img(src="/img/logo3.svg")

          h1 !{lang.title}
          .headerMenu
            each val in lang.menu
              .headerMenuItem(onclick="window.open('"+val.link+"')") !{val.title}
          .langSelector(onclick="document.location.href=('/"+lang.anotherLangId+"')") #{lang.anotherLangTitle}

    .headerBox
      .descr
          .descrBlock(v-for="block in descr")
              .descrBlockText(v-for="text in block") {{text}}
    .headerBox(v-if="liveSessions.length>0")
      .section
        .sectionTitle #{lang.sections[0]}

            .trItem(v-for="item in liveSessions")
              .trItemImage(:style="'background-image:url('+item.img+')'" v-on:click="clickActiveItem(item)")
                .trItemImageTime(v-if="item.status==1") {{item.s}} - {{item.e}}
                .trItemImageTime.online(v-if="item.status==2") #{lang.online}
                .trItemImagePlay.online(v-if="item.status==2")
                      <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="36" cy="36" r="36" fill="#F2F2F2"/>
                      <path d="M32.0329 46.8734C30.0818 48.0499 28.5 47.0861 28.5 44.7224V27.2792C28.5 24.9132 30.0818 23.9506 32.0329 25.126L46.5362 33.8696C48.4879 35.0465 48.4879 36.9533 46.5362 38.1299L32.0329 46.8734Z" fill="#ffffff"/>
                      </svg>

                .trItemImageText {{item.title}}

              .trItemDescr
                .trItemDescrSpeakers(v-if="item.speakers.length>0")
                  .trItemDescrSpeakersTitle
                    .trItemDescrSpeakersTitleHead #{lang.SpeakersTitle}
                    .trItemDescrSpeaker(v-for="spk in item.speakers") {{spk.name}}, {{spk.position}}
                .trItemDescrModerators(v-if="item.moderators.length>0")
                  .trItemDescrModeratorsTitle
                    .trItemDescrSpeakersTitleHead #{lang.ModeratorTitle}
                    .trItemDescrSpeaker(v-for="mod in item.moderators") {{mod.name}}, {{mod.position}}
    .BgGray(v-if="endedSessions.length>0")
      .headerBox
        .section.sectionBgGray
          .sectionTitle #{lang.sections[1]}

              .trItem(v-for="item in endedSessions")
                .trItemImage(:style="'background-image:url('+item.img+')'" v-on:click="document.location.href='/session/'+item.id+'/"+lang.langId+"'")
                  .trItemImageTime.ended #{lang.ended}
                  .trItemImagePlay.ended
                      <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="36" cy="36" r="36" fill="#F2F2F2"/>
                      <path d="M32.0329 46.8734C30.0818 48.0499 28.5 47.0861 28.5 44.7224V27.2792C28.5 24.9132 30.0818 23.9506 32.0329 25.126L46.5362 33.8696C48.4879 35.0465 48.4879 36.9533 46.5362 38.1299L32.0329 46.8734Z" fill="#33363A"/>
                      </svg>
                  .trItemImageText {{item.title}}
                .trItemDescr
                  .trItemDescrSpeakers(v-if="item.speakers.length>0")
                    .trItemDescrSpeakersTitleHead #{lang.SpeakersTitle}
                    .trItemDescrSpeaker(v-for="spk in item.speakers") {{spk.name}}, {{spk.position}}
                  .trItemDescrModerators(v-if="item.moderators.length>0")
                    .trItemDescrModeratorsTitle
                      .trItemDescrSpeakersTitleHead #{lang.ModeratorTitle}
                    .trItemDescrSpeaker(v-for="mod in item.moderators") {{mod.name}}, {{mod.position}}
    .headerBox
      .footer
        .footerTitle #{lang.footerTitle}
          span
        .footerAddress #{lang.footerAddress}
        .footerMap(onclick="window.open('https://goo.gl/maps/nrm9ARpEp8FkDutu7')")
          span.footerMapText #{lang.footerMap}
          span &nbsp;&nbsp;
          span
            <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.7944 0.195511C12.5355 -0.0651703 12.1047 -0.0651703 11.8368 0.195511C11.578 0.447385 11.578 0.866588 11.8368 1.11788L16.6921 5.84243L0.67034 5.84243C0.296856 5.84301 0 6.13188 0 6.4953C0 6.85873 0.296856 7.15699 0.67034 7.15699L16.6921 7.15699L11.8368 11.8727C11.578 12.1334 11.578 12.5532 11.8368 12.8045C12.1047 13.0652 12.5361 13.0652 12.7944 12.8045L18.7991 6.96148C19.067 6.7096 19.067 6.2904 18.7991 6.03911L12.7944 0.195511Z" fill="#33363A"/>
            </svg>

        .footerCopyRight #{lang.footerCopyRight}


