doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="keywords" content="сбербанк, образование">
    meta( name="description" content=title.replace(/\<br\/\>/g,' '))
    <meta property="og:type" content="website">
    meta(property="og:title" content=title.replace(/\<br\/\>/g,' '))
    meta(property="og:description" content=title.replace(/\<br\/\>/g,' '))
    <meta property="og:image" content="https://sberbank-university.ru/local/templates/main/src/assets/img/logo-main-default.png">
    <meta property="twitter:image:src" content="https://sberbank-university.ru/local/templates/main/src/assets/img/logo-main-default.png">
    <link rel="stylesheet" href="/fonts.css">
    <link href="https://sberbank-university.ru/local/templates/main/src/assets/img/logo-main-default.png" rel="image_src">
    block head
  body
    block content
